@{
    ViewData["Title"] = "Home";
}

<div class="text-center" >
    <h1 class="display-4">Welcome</h1>
    <p>Be the seller you wanted to be! At our marketplace, you can browse items or you can buy them after logging in</p>
    <p>Just make sure not to upload duplicate products. We are selling NFTs</p>

    <img src="~/images/banner.png"/>
</div>
